/*Estilos ====================
=================================*/
*{
  font-family: "Roboto Mono", "monospace";
}
a{
  text-decoration: none;
  color: white;
}
body{
  /* background-color: rgb(32,141,170); */
  background-color: rgb(231,231,231);

}
.main_container{

}
.logo{
  /* width: 80px; */
  height: 40px;
  margin-right: 5px;
}
.main_header{
  color: white;
  background-color: rgb(20,54,86);
  padding: 5px;
  font-family: "Roboto Mono", "monospace";
  font-size: 15px;

}
.main_menu{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
li{
  margin-right: 35px;
  color: white;
  font-style: "Roboto Mono", "monospace";
}
/*SLIDER =================================
======================================*/
.slider{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content;

}

.cohete{
  width: 100%;
  height: 35vh;


}

/*BUSQUEDA IMPRESORES ==========
=============================*/
.bienvenida{
  font-family: "Roboto Mono", "monospace";
  /* font-size: 40px; */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mensaje_bienvenida{
  margin-top: 25px;
  font-size: 40px;
}
.mensaje_bienvenida2{
  margin-top: 20px;
  font-size: 25px;
}
.mensaje_bienvenida3{
  margin-top: 20px;
  font-size: 20px;
}
.boton_busqueda{
  margin-top: 30px;
  padding: 5px;
  font-size: 18px;
  font-family: "Roboto Mono", "monospace";
  background-color: rgb(20,54,86);
  color: white;
  text-decoration: none;
}
/*REGISTRO IMPRESORES    ==========
=============================*/
.impresores{
  font-family: "Roboto Mono", "monospace";
  /* font-size: 40px; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mensaje_impresores{
  margin-top: 50px;
  font-size: 40px;
}
.mensaje_impresores2{
  margin-top: 20px;
  font-size: 20px;
}
.mensaje_impresores3{
  margin-top: 20px;
  font-size: 20px;
}
.boton_registro{
  margin-top: 30px;
  padding: 5px;
  font-size: 18px;
  font-family: "Roboto Mono", "monospace";
  background-color: rgb(20,54,86);
  color: white;
  text-decoration: none;
}

/*Busqueda =============
=========================*/
.busqueda{
  width: 70%;
  /* display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; */
}
.menu_busqueda{
  color: white;
  font-family: "Roboto Mono", "monospace";
  font-size: 15px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.masInfo{
  margin-top: 20px;
  padding: 5px;
  font-size: 16px;
  font-family: "Roboto Mono", "monospace";
  background-color: rgb(20,54,86);
  color: white;
  text-decoration: none;
}
