*{
  list-style-type: none;
  font-family: sans-serif;
}
body{
  background-color: rgb(231,231,231);
}
h3{
  font-family: "Roboto Mono";
  font-size: 22px;
}
.main_header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  color: white;
  background-color: rgb(20,54,86);
  padding: 5px;
  font-family: "Roboto Mono", "monospace";
  font-size: 20px;


}
.main_menu{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
li{
  margin-right: 35px;
  color: white;
  font-style: "Roboto Mono", "monospace";
}
.logo{
  /* width: 80px; */
  height: 40px;
  margin-right: 5px;
}

/*
estilos formularios ============================
=================================================== */

.div_registros{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  /* width: 1000%; */
}
.usuarios_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid;
  border-color: rgb(20,54,86);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
}

.usuarios_form input {
  margin-bottom: 10px;
  height: 22px;
}
.inicio_sesion{
  text-align: center;
}
.registro_usuarios{
  text-align: center;
}
.inicioSesion_form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid;
  border-color: rgb(20,54,86);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
  margin-bottom: 25px;

}

.inicioSesion_form input {
  margin-bottom: 10px;
  height: 22px;

  }

label{
  font-family: sans-serif;
  font-size: 18px;
}
.boton{
  background-color: rgb(20,54,86);
  /* width: 40%; */
  height: 25px;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  /* padding: 5px; */

}
