*{
  font-family: 'Quicksand', sans-serif;
   }
* li{
  text-decoration: none;
  list-style: none;
}
* ul{
  padding-left: 0px;
}
   body{
     /* background-image: url("../img/fondoRegistro.png"); */
     background-color: rgb(231,231,231);
     /* background-repeat: round; */
     margin: 0 auto;
   }
.main_header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  color:white;
  background-color: rgb(20,54,86);
  padding: 5px;
  font-family: 'Quicksand', sans-serif;
  height: 60px;
  text-decoration: none;
  margin: 0px;
}
.home{
  width: 30%;
}
.header_usuario{
  width: 15%;
}
.img_perfil{
  height: 60px;
  border-radius: 50px;
}
.opciones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: white;
  width: 15%;
}
.opciones a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  height: 100%;
}
.parte-izq{
  width: 25%;
  align-items: center;
  text-align: center;
  background-color: white;
}
.parte-izq img{
  width: 45%;
}
.parte-izq li{
  padding-top: 10px;
}
.parte-derecha{
  border-radius: 7px;
  text-align: center;
  width: 70%;
  height: 100%;
  align-items: center;
  background-color: white;
  padding: 5px;
}
.formsend{
  padding: 10px;
}
.sendPost {
  border: 3px;
  border-radius: 4px;
  border-color: black;
  padding: 20px;
  border-style: solid;
  border-width: medium;
  margin-bottom: 30px;
}
.datossendimpresion{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;


}
.datos_impresion{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-between;
}
.botonsend {
  padding: 10px;
  border: 0px;
  border-radius: 4px;
  transition: 0.3s;
  background-color: rgb(20,54,86);
  color: white;
}
.botonsend:hover {
  font-size: 15px;
}
/* PUBLICACIONES========
===================== */
.publicacion{
  border: 3px;
  border-radius: 4px;
  border-color: black;
  padding: 20px;
  border-style: solid;
  border-width: medium;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.publicaciontitle{
  width: 100%;
}
.header_publicacion{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width:100%;
}
.usuario_publicacion{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 50%;
}
.p-parteizq{
  width: 40%;
  text-align: center;
}
.p-parted{
  width: 50%;
  text-align: center;
}
.imagen_impresion{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  align-content: center;
  align-items: center;
  width: 50%;
  margin-right: 0px;
}
.imagen_post{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-right: 0px;
}
.imagen_impresion img{

  width:32%;
  border-radius: 5px;
  margin: 5px;
  border-width: 1px;
}
.imagen_post img{

  width:32%;
  border-radius: 5px;
  margin: 5px;
  border-width: 1px;
}
.usuario_publicacion img{

}
.datos_impresion ul{
margin-bottom: 15px;
}
.datos_impresion ul li{
text-align: left;
font-size: 18px;
margin-left: 10px;
margin-bottom: 3px;
}
.header_publicacion a{
text-decoration: none;
border-style: solid;
background-color: rgb(20,54,86);
color: white;
border-radius: 5px;
padding: 5px;
margin: 10px;
font-size: 14px;
}
